.parakai {
	width: 60rem;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.parakai .scene1 {
	position: absolute;
	width: 60rem;
	height: 100%;
	overflow: hidden;
	perspective: 20rem;
}

@keyframes parakai-scene1-bg {
	0% {
		left: 50rem;
		opacity: 0;
		transform: scale(1);
	}
	60% {
		left: 0;
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes parakai-scene1-title {
	0% {
		letter-spacing: -2rem;
		opacity: 0;
	}
	60% {
		letter-spacing: 5px;
	}
	100% {
		letter-spacing: 0;
		opacity: 1;
	}
}
@keyframes parakai-scene1-key1 {
	0% {
		left: 18rem;
		opacity: 1;
		transform: rotateY(30deg);
	}
	70% {
		opacity: 0;
		transform: rotateY(-90deg);
	}
	100% {
		opacity: 1;
		transform: rotateY(0deg);
	}
}
@keyframes parakai-scene1-key2 {
	0% {
		left: 26rem;
		opacity: 1;
		transform: rotateY(30deg);
	}
	70% {
		left: 20rem;
		opacity: 0;
		transform: rotateY(-90deg);
	}
	100% {
		left: 26rem;
		opacity: 1;
		transform: rotateY(0);
	}
}
@keyframes parakai-scene1-key3 {
	0% {
		left: 34rem;
		opacity: 1;
		transform: rotateY(30deg);
	}
	70% {
		left: 28rem;
		opacity: 0;
		transform: rotateY(-90deg);
	}
	100% {
		left: 34rem;
		transform: rotateY(0);
	}
}

.parakai .scene1 .pic {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: auto;
	transform: scale(1);
	opacity: 1;
	animation: parakai-scene1-bg 2s;
}
.parakai .scene1 .pic img {
	width: 100%;
	height: auto;
}

.parakai .scene1 h2,
.parakai .scene1 h3 {
	position: absolute;
}

.parakai .scene1 h2 {
	z-index: 2;
	top: 2rem;
	left: 2rem;
	font-size: 3rem;
	letter-spacing: 0rem;
	color: white;
	opacity: 1;
	animation-duration: 2s;
	animation-name: parakai-scene1-title;
}

.parakai .scene1 h3 {
	z-index: 2;
	top: 2rem;
	padding: 1rem;
	border-radius: 2rem;
	letter-spacing: 3px;
	color: white;
}
.parakai .scene1 h3:nth-child(2) {
	left: 28rem;
	background-color: rgb(132, 224, 164);
	
	animation-duration: 1s;
	animation-name: parakai-scene1-key1;
}
.parakai .scene1 h3:nth-child(3) {
	left: 38rem;
	background-color: rgb(227, 141, 168);	
	animation-duration: 1.5s;
	animation-name: parakai-scene1-key2;
}

.parakai .scene1 h3:nth-child(4) {
	left: 48rem;
	background-color: rgb(134, 165, 223);
	animation-duration: 2s;
	animation-name: parakai-scene1-key3;
}

@keyframes parakai-scene2-pic {
	 0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes parakai-scene2-title {
	0% {
		opacity: 0;
		word-spacing: 4rem;
	}
	100% {
		opacity: 1;
		word-spacing: normal;
	}
}
@keyframes parakai-scene2-author {
	0% {
		top: -2rem;
	}
	100% {
		top: 0;
	}
}
@keyframes parakai-scene2-target {
	0% {
		bottom: -10rem;
	}
	100% {
		top: 9rem;
	}
}

.parakai .scene2 {
	position: absolute;
	z-index: 2;
	width: 60rem;
	height: 100%;
	overflow: hidden;
	background-color: rgba(134, 165, 223, 0);
}
.parakai .scene2 .pic {
	position: absolute;
    background-size: cover;
	z-index: -1;
	top: -5rem;
	animation-name: parakai-scene2-pic;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
.parakai .scene2 .author {
	position: absolute;
	top: -2rem;
	padding-top: 3px;
	padding-left: 3px;
	color: white;
	animation-name: parakai-scene2-author;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}
.parakai .scene2 .title {
	margin-top: 4rem;
	text-align: center;
	font-weight: bold;
	font-size: 4.5rem;
	background-position: center;
	background-clip: text;
	color: whitesmoke;
	opacity: 0;
	animation-delay: 1s;
	animation-name: parakai-scene2-title;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
.parakai .scene2 .target {
	position: absolute;
	z-index: 3;
	left: 24rem;
	top: 20rem;
	padding-top: 1rem;
	text-align: center;
	animation-name: parakai-scene2-target;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}
.parakai .scene2 .target a {
	padding: 5px 1rem;
	opacity: 0.6;
	background-color: rgb(225, 72, 121);
	color: white;
}