@import url("./parakai.css");
@import url("./gjnz.css");
@import url("./booking.css");
html {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}

a, a:visited {
	color: black;
	text-decoration: none;
}
a:hover{
	color: darkslategray;
	text-decoration: dashed;
}

.frame {
	max-width: 1100px;
	min-width: 680px;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
		"work1 work1"
		"work3 work2";
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto;
	gap: 1rem;
	padding: 0 1rem;
}
.frame > section {
	border: 1rem gainsboro solid;
	box-sizing: border-box;
	background-color: lightgrey;
	overflow: hidden;
}

.work1 {
	grid-area: work1;
	height: 15rem;
}

.work2 {
	grid-area: work2;
	height: 40rem;
}
.work3 {
	grid-area: work3;
	height: 40rem;
}

.assignment-header {
	width: 100%;
	color: rgba(0, 0, 0, 0.7);
	background-color: lightgray;
	padding: 5px 1rem;
	
}

.assignment-nav {
	height: 3rem;
	padding: 0 1rem;
	padding-bottom: 1rem;
	display: flex;
	gap: 1rem;
}

.assignment-nav a {
	height: 2rem;
	line-height: 2rem;
	padding: 0 1rem;
	background-color: rgb(0, 208, 255);
	color: lightcyan;
	border-radius: 0 0 1rem 1rem;
	text-decoration-line: none;
	transition: all ease 0.2s;
}
.assignment-nav a:hover {
	padding-top: 2rem;
}
.assignment-nav a.GJNZpdf {
	background-color: rgb(0, 72, 154);
}